/*style.css*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color:black;
  background-image: url("FONDO-DIA.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 2s, color 2s;
}
h1 {
  color: red;
}
body.oscuro {
  background-color: #121212;
  color: white;
  background-image: url("FONDO-NOCHE.jpg"); 
}

body.oscuro h1 {
  color: lightcoral;
}

button {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}